header.header
    .header__top.wrapper
        .header__logo
            a(href="./").logo
                img(src="./images/icon/logo.svg", alt="logo")
            span ОФИЦИАЛЬНЫЙ ДИЛЕР OHAUS И SARTORIUS
        .header__tel
            a(href="tel:+73833305691") 8 (383) 330-56-91
            a(href="tel:+79137163248") 8 (913) 716-32-48
    nav.menu
        .wrapper
            ul
                li
                    a(href="#") Главная
                li
                    a(href="#") О компании
                li
                    a(href="#") Продукция
                li
                    a(href="#") Документация
                li
                    a(href="#") Новости и акции
                li
                    a(href="#") Статьи
                li
                    a(href="#") Вопрос-ответ
                li
                    a(href="#") Контакты
.content.wrapper
    aside
        .catalog-menu
            ul
                li
                    span
                        a(href="#") Новинки
                li.catalog-menu__submenu.active
                    span 
                        a(href="#") Весы
                    ul
                        li.catalog-menu__hasmenu.active
                            a(href="#") Лабораторные весы
                            ul
                                li.active
                                    a(href="#") Аналитические весы
                                li
                                    a(href="#") Прецизионные весы
                                li
                                    a(href="#") Механические весы
                                li
                                    a(href="#") Портативные весы
                                li
                                    a(href="#") Микровесы
                                li
                                    a(href="#") Большегрузные микровесы
                        li
                            a(href="#") Микровесы
                        li
                            a(href="#") Промышленные весы
                        li
                            a(href="#") Торговые весы
                        li
                            a(href="#") Анализаторы влагосодержания (влажности)
                li
                    span 
                        a(href="#") Системы лабораторной очистки воды
                li
                    span 
                        a(href="#") Системы лабораторной фильртрации и чистки
                li
                    span 
                        a(href="#") Центрифуги
                li
                    span 
                        a(href="#") Электрохимические приборы
                li
                    span 
                        a(href="#") Микроскопы
                li
                    span 
                        a(href="#") Хроматографы и масс-спектрометры
                li
                    span 
                        a(href="#") Лабораторное оборудование
        .news
            h2 Статьи
            .news__item
                a(href="#") Заголовок статьи отражает смысл текста
            .news__item
                a(href="#") Заголовок статьи отражает смысл текста
            .news__item
                a(href="#") Заголовок статьи отражает смысл текста
    main
        .catalog
            .beadcrumbs
                a(href="./") Главная
                span
                a(href="#") Продукция
                span
                a(href="#") Лабораторные весы
                span
                a(href="#").active Аналитические весы
            .catalog-box
                h2 Аналитические весы
                .catalog__wrap
                    a(href="#").card
                        .card__img
                            img(src="./images/decor/card-4.jpg", alt="item")
                        .card__text
                            h3 Аналитические весы OHAUS
                            p Лабораторные весы EX имеют оригинальную конструкцию защитного кожуха. Платформа весов EX выполнена из нержавеющей стали.
                            span Подробнее
                                <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 1L19 5L15 1ZM19 5L15 9L19 5ZM19 5L1 5L19 5Z" fill="#34D1BF"/>
                                    <path d="M19 5L1 5M15 1L19 5L15 1ZM19 5L15 9L19 5Z" stroke="#2F67D7" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                    a(href="#").card
                        .card__img
                            img(src="./images/decor/card-5.jpg", alt="item")
                        .card__text
                            h3 Аналитические весы OHAUS Pioneer
                            p Аналитические весы базового уровня Pioneer от Ohaus предназначены для ежедневного использования в исследовательских, промышленных и учебных лабораториях.
                            span Подробнее
                                <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 1L19 5L15 1ZM19 5L15 9L19 5ZM19 5L1 5L19 5Z" fill="#34D1BF"/>
                                    <path d="M19 5L1 5M15 1L19 5L15 1ZM19 5L15 9L19 5Z" stroke="#2F67D7" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                    a(href="#").card
                        .card__img
                            img(src="./images/decor/card-6.jpg", alt="item")
                        .card__text
                            h3 Аналитические весы OHAUS Adventurer
                            p Возможность получать данные о взвешивании в стандартные программы MS Office. Соответствие GLP стандарту. AutoCal калибровка по температуре и по времени.
                            span Подробнее
                                <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 1L19 5L15 1ZM19 5L15 9L19 5ZM19 5L1 5L19 5Z" fill="#34D1BF"/>
                                    <path d="M19 5L1 5M15 1L19 5L15 1ZM19 5L15 9L19 5Z" stroke="#2F67D7" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                    a(href="#").card
                        .card__img
                            img(src="./images/decor/card-7.jpg", alt="item")
                        .card__text
                            h3 Аналитические весы OHAUS Adventurer (AX/E)
                            p Возможность получать данные о взвешивании в стандартные программы MS Office. Соответствие GLP стандарту. Наличие внутренней калибровки InCal.
                            span Подробнее
                                <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 1L19 5L15 1ZM19 5L15 9L19 5ZM19 5L1 5L19 5Z" fill="#34D1BF"/>
                                    <path d="M19 5L1 5M15 1L19 5L15 1ZM19 5L15 9L19 5Z" stroke="#2F67D7" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                    a(href="#").card
                        .card__img
                            img(src="./images/decor/card-8.jpg", alt="item")
                        .card__text
                            h3 Аналитические весы OHAUS Pioneer (PA/C)
                            p 3 модели с НПВ от 65 до 210 г и дискретностью 0,1 мг. Внутренняя калибровка. Высококонтрастный дисплей. Интерфейс RS232.
                            span Подробнее
                                <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 1L19 5L15 1ZM19 5L15 9L19 5ZM19 5L1 5L19 5Z" fill="#34D1BF"/>
                                    <path d="M19 5L1 5M15 1L19 5L15 1ZM19 5L15 9L19 5Z" stroke="#2F67D7" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                    a(href="#").card
                        .card__img
                            img(src="./images/decor/card-9.jpg", alt="item")
                        .card__text
                            h3 Аналитические полумикровесы OHAUS 
                            p Измерения с разрешающей способностью от 0,01 до 0,1 мг. Сенсорный экран с пиктографическими элементами управления.
                            span Подробнее
                                <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 1L19 5L15 1ZM19 5L15 9L19 5ZM19 5L1 5L19 5Z" fill="#34D1BF"/>
                                    <path d="M19 5L1 5M15 1L19 5L15 1ZM19 5L15 9L19 5Z" stroke="#2F67D7" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
footer.footer
    .footer__top.wrapper
        a(href="./").logo
            img(src="./images/icon/footer-logo.svg", alt="logo")
        .footer__adress
            img(src="./images/icon/map.svg", alt="adress")
            p 630090,  г. Новосибирск, пр-т Ак. Лаврентьева, 9, оф. 304
        .footer__mail
            img(src="./images/icon/mail.svg", alt="mail")
            a(href="mailto:spectromtetriya@gmail.com") spectromtetriya@gmail.com
        .footer__tel
            img(src="./images/icon/phone.svg", alt="phone")
            .footer__tel_wrap
                a(href="tel:+73833305691") 8 (383) 330-56-91
                a(href="tel:+79137163248") 8 (913) 716-32-48
    .footer__bottom.wrapper
        .footer__text
            p © 2020 spectrometry-nsk.ru
                a(href="#") Политика конфиденциальности
            p 
                a(href="mailto:spectromtetriya@gmail.com") spectromtetriya@gmail.com 
                | — электронная почта для обращений с вопросом о своих персональных данных, в том числе об их удалении.
        .footer__links
            .footer__links_wrap
                a(href="#") Создание сайтов
                a(href="#") Продвижение сайтов
            a(href="#") 
                img(src="./images/icon/kontur.svg", alt="kontur")
