.body-wrap
    header.header
        .header__black
            .header__top
                .wrapper
                    .header__phone
                        a(href="tel:+74957923072")
                            span (495)
                            span 792-30-72
                        p с 9:00 до 22:00
                    .header__icons
                        a(href="#")
                            img(src="./images/icon/vk.svg", alt="vk")
                        a(href="#")
                            img(src="./images/icon/instagram.svg", alt="instagram")
                        a(href="#")
                            img(src="./images/icon/facebook.svg", alt="facebook")
                        a(href="#")
                            img(src="./images/icon/youtube.svg", alt="youtube")
                    .header__city
                        p ВАШ ГОРОД
                        .select
                            select(name="city")
                                option(value="1") Москва
                                option(value="2") Новосибирск
            nav.menu
                .wrapper
                    ul
                        li
                            a(href="#") архив представлений
                        li
                            a(href="https://iframeab-pre3652.intickets.ru/node/11426485") РАСПИСАНИЕ, СХЕМЫ ЗАЛОВ
                        li
                            a(href="#") ОТЗЫВЫ
                        li
                            a(href="#") КАК НАС НАЙТИ
                        li
                            a(href="#") ФОТОГРАФИИ ЗРИТЕЛЕЙ
                        li
                            a(href="#") КОРПОРАТИВНЫЕ МЕРОПРИЯТИЯ
                        li
                            a(href="#") МЕДИА
                        li
                            a(href="#") СОТРУДНИЧЕСТВО И КАСТИНГИ
                        li
                            a(href="#") АРЕНДА ЗАЛА
                        li
                            a(href="#") БОЛЬШОЙ ЦИРКОВОЙ КАРНАВАЛ
            .header__small
                .wrapper
                    .header__phone
                        a(href="tel:+74957923072")
                            span (495)
                            span 792-30-72
                        p с 9:00 до 22:00
                    .header__menu
                        ul
                            li
                                a(href="#") архив представлений
                            li
                                a(href="https://iframeab-pre3652.intickets.ru/node/11426485") РАСПИСАНИЕ, СХЕМЫ ЗАЛОВ
                            li
                                a(href="#") ОТЗЫВЫ
                            li
                                a(href="#") КАК НАС НАЙТИ
                            li
                                a(href="#") ФОТОГРАФИИ ЗРИТЕЛЕЙ
                            li
                                a(href="#") КОРПОРАТИВНЫЕ МЕРОПРИЯТИЯ
                            li
                                a(href="#") МЕДИА
                            li
                                a(href="#") СОТРУДНИЧЕСТВО И КАСТИНГИ
                            li
                                a(href="#") АРЕНДА ЗАЛА
                            li
                                a(href="#") БОЛЬШОЙ ЦИРКОВОЙ КАРНАВАЛ
                    .header__city
                        p ВАШ ГОРОД
                        .select
                            select(name="city")
                                option(value="1") Москва
                                option(value="2") Новосибирск
            .header__mobile
                a(href="https://55555club.ru/cirk-tancuyushhix-fontanov-akvamarin", target="_blank").header__tickets
                    img(src="./images/icon/icon-logo.png", alt="icon-logo")
                    span КУПИТЬ <br> БИЛЕТЫ
                a(href="tel:+74957923072")
                    img(src="./images/icon/icon-phone.png", alt="phone")
                button
                    img(src="./images/icon/burger.png", alt="menu")
            .header__mob-menu
                .header__city
                    p ВАШ ГОРОД
                    .select
                        select(name="city")
                            option(value="1") Москва
                            option(value="2") Новосибирск
                .menu
                    ul
                        li
                            a(href="#") архив представлений
                        li
                            a(href="https://iframeab-pre3652.intickets.ru/node/11426485") РАСПИСАНИЕ, СХЕМЫ ЗАЛОВ
                        li
                            a(href="#") ОТЗЫВЫ
                        li
                            a(href="#") КАК НАС НАЙТИ
                        li
                            a(href="#") ФОТОГРАФИИ ЗРИТЕЛЕЙ
                        li
                            a(href="#") КОРПОРАТИВНЫЕ МЕРОПРИЯТИЯ
                        li
                            a(href="#") МЕДИА
                        li
                            a(href="#") СОТРУДНИЧЕСТВО И КАСТИНГИ
                        li
                            a(href="#") АРЕНДА ЗАЛА
                        li
                            a(href="#") БОЛЬШОЙ ЦИРКОВОЙ КАРНАВАЛ
                .header__icons
                    a(href="#")
                        img(src="./images/icon/vk.svg", alt="vk")
                    a(href="#")
                        img(src="./images/icon/instagram.svg", alt="instagram")
                    a(href="#")
                        img(src="./images/icon/facebook.svg", alt="facebook")
                    a(href="#")
                        img(src="./images/icon/youtube.svg", alt="youtube")
        .header__icons.small
            a(href="#")
                img(src="./images/icon/vk.svg", alt="vk")
            a(href="#")
                img(src="./images/icon/instagram.svg", alt="instagram")
            a(href="#")
                img(src="./images/icon/facebook.svg", alt="facebook")
            a(href="#")
                img(src="./images/icon/youtube.svg", alt="youtube")
        .header__bottom
            .wrapper
                a(href="./").logo
                    img(src="./images/icon/logo.png", alt="logo")
                    span ЦИРК ТАНЦУЮЩИХ ФОНТАНОВ
                a(href="https://55555club.ru/cirk-tancuyushhix-fontanov-akvamarin", target="_blank").tickets
                    img(src="./images/icon/icon-logo.png", alt="icon-logo")
                    span КУПИТЬ БИЛЕТЫ
    .about.wrapper
        h2 Фото+текст на подложке
        .text-block__wrap
            .text-block__image
                img(src="./images/decor/about.jpg", alt="about")
            .text-block__text
                h3 Дорогие друзья!  
                p Мы с радостью приветствуем вас на сайте Цирка Танцующих Фонтанов «Аквамарин»!
                p Под нашим куполом вы увидите сильнейших цирковых артистов, признанных мастеров танца на льду, смешных клоунов, дрессированных животных и, конечно же, удивительное водное шоу Танцующих Фонтанов!
                p А в фойе всех зрителей ждет Большой Цирковой Карнавал - с множеством сюрпризов, игр и развлечений, бесплатной фотографией по каждому билету!
                p С искренним уважением к вам и безграничной преданностью великому искусству цирка на каждом спектакле мы стараемся подарить и большим, и маленьким зрителям самые светлые и незабываемые впечатления!
                p Приходите к нам в гости! Наш цирк всегда открыт для вас и ваших друзей!
        .text-block__wrap.reverse
            .text-block__text
                h3 Дорогие друзья!  
                p Мы с радостью приветствуем вас на сайте Цирка Танцующих Фонтанов «Аквамарин»!
                p Под нашим куполом вы увидите сильнейших цирковых артистов, признанных мастеров танца на льду, смешных клоунов, дрессированных животных и, конечно же, удивительное водное шоу Танцующих Фонтанов!
                p А в фойе всех зрителей ждет Большой Цирковой Карнавал - с множеством сюрпризов, игр и развлечений, бесплатной фотографией по каждому билету!
                p С искренним уважением к вам и безграничной преданностью великому искусству цирка на каждом спектакле мы стараемся подарить и большим, и маленьким зрителям самые светлые и незабываемые впечатления!
                p Приходите к нам в гости! Наш цирк всегда открыт для вас и ваших друзей!
            .text-block__image
                img(src="./images/decor/about.jpg", alt="about")
    .video.wrapper
        h2 Видео
        .video__wrap.paused
            video(poster="./images/decor/video.jpg", controls)
                source(src="circus.webm" type="video/webm")
    .text.wrapper
        h2 Простой Текстовый блок
        .text__wrap
            h3 С подложкой
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        .text__wrap.none
            h3 Без подложки
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
    .audio.wrapper
        h2 АУДИОЗАПИСИ
        .audio__wrap
            button.play
            p Исполнитель — Название композиции
        .audio__wrap
            button.play
            p Исполнитель — Название композиции
        .audio__wrap
            button.play
            p Исполнитель — Название композиции
    .photos.wrapper
        h2 Фотогалерея
        .photos__slider
            .photos__big
                .photos__slide
                    img(src="./images/decor/photo.jpg", alt="photo")
                .photos__slide
                    img(src="./images/decor/photo.jpg", alt="photo")
                .photos__slide
                    img(src="./images/decor/photo.jpg", alt="photo")
                .photos__slide
                    img(src="./images/decor/photo.jpg", alt="photo")
            .photos__small
                .photos__small-slide
                    img(src="./images/decor/photo.jpg", alt="photo")
                .photos__small-slide
                    img(src="./images/decor/photo.jpg", alt="photo")
                .photos__small-slide
                    img(src="./images/decor/photo.jpg", alt="photo")
                .photos__small-slide
                    img(src="./images/decor/photo.jpg", alt="photo")
    footer.footer
        a(href="#0").button-up
            img(src="./images/icon/button-up.png", alt="button-up")
        .wrapper
            ul
                li
                    a(href="#") Главная
                li
                    a(href="#") Медиа
                li
                    a(href="#") Представления
                li
                    a(href="#") Сотрудничество и кастинги
                li
                    a(href="#") Расписание, схемы залов
                li
                    a(href="#") Аренда зала
                li
                    a(href="#") Корпоративные мероприятия
                li
                    a(href="#") Архив представлений
            p Цирк Танцующих Фонтанов "Аквамарин" 
                a(href="tel:+74957923072") +7 (495) 792-30-72 
                | (с 9:00 до 22:00)
            a(href="#") Зрительский клуб «55555»
            .footer__social
                a(href="#")
                    img(src="./images/icon/vk.svg", alt="vk")
                a(href="#")
                    img(src="./images/icon/instagram.svg", alt="instagram")
                a(href="#")
                    img(src="./images/icon/facebook.svg", alt="facebook")
                a(href="#")
                    img(src="./images/icon/youtube.svg", alt="youtube")