.body-wrap
    header.header
        .header__black
            .header__top
                .wrapper
                    .header__phone
                        a(href="tel:+74957923072")
                            span (495)
                            span 792-30-72
                        p с 9:00 до 22:00
                    .header__icons
                        a(href="#")
                            img(src="./images/icon/vk.svg", alt="vk")
                        a(href="#")
                            img(src="./images/icon/instagram.svg", alt="instagram")
                        a(href="#")
                            img(src="./images/icon/facebook.svg", alt="facebook")
                        a(href="#")
                            img(src="./images/icon/youtube.svg", alt="youtube")
                    .header__city
                        p ВАШ ГОРОД
                        .select
                            select(name="city")
                                option(value="1") Москва
                                option(value="2") Новосибирск
            nav.menu
                .wrapper
                    ul
                        li
                            a(href="#") архив представлений
                        li
                            a(href="https://iframeab-pre3652.intickets.ru/node/11426485") РАСПИСАНИЕ, СХЕМЫ ЗАЛОВ
                        li
                            a(href="#") ОТЗЫВЫ
                        li
                            a(href="#") КАК НАС НАЙТИ
                        li
                            a(href="#") ФОТОГРАФИИ ЗРИТЕЛЕЙ
                        li
                            a(href="#") КОРПОРАТИВНЫЕ МЕРОПРИЯТИЯ
                        li
                            a(href="#") МЕДИА
                        li
                            a(href="#") СОТРУДНИЧЕСТВО И КАСТИНГИ
                        li
                            a(href="#") АРЕНДА ЗАЛА
                        li
                            a(href="#") БОЛЬШОЙ ЦИРКОВОЙ КАРНАВАЛ
            .header__small
                .wrapper
                    .header__phone
                        a(href="tel:+74957923072")
                            span (495)
                            span 792-30-72
                        p с 9:00 до 22:00
                    .header__menu
                        ul
                            li
                                a(href="#") архив представлений
                            li
                                a(href="https://iframeab-pre3652.intickets.ru/node/11426485") РАСПИСАНИЕ, СХЕМЫ ЗАЛОВ
                            li
                                a(href="#") ОТЗЫВЫ
                            li
                                a(href="#") КАК НАС НАЙТИ
                            li
                                a(href="#") ФОТОГРАФИИ ЗРИТЕЛЕЙ
                            li
                                a(href="#") КОРПОРАТИВНЫЕ МЕРОПРИЯТИЯ
                            li
                                a(href="#") МЕДИА
                            li
                                a(href="#") СОТРУДНИЧЕСТВО И КАСТИНГИ
                            li
                                a(href="#") АРЕНДА ЗАЛА
                            li
                                a(href="#") БОЛЬШОЙ ЦИРКОВОЙ КАРНАВАЛ
                    .header__city
                        p ВАШ ГОРОД
                        .select
                            select(name="city")
                                option(value="1") Москва
                                option(value="2") Новосибирск
            .header__mobile
                a(href="https://55555club.ru/cirk-tancuyushhix-fontanov-akvamarin", target="_blank").header__tickets
                    img(src="./images/icon/icon-logo.png", alt="icon-logo")
                    span КУПИТЬ <br> БИЛЕТЫ
                a(href="tel:+74957923072")
                    img(src="./images/icon/icon-phone.png", alt="phone")
                button
                    img(src="./images/icon/burger.png", alt="menu")
            .header__mob-menu
                .header__city
                    p ВАШ ГОРОД
                    .select
                        select(name="city")
                            option(value="1") Москва
                            option(value="2") Новосибирск
                .menu
                    ul
                        li
                            a(href="#") архив представлений
                        li
                            a(href="https://iframeab-pre3652.intickets.ru/node/11426485") РАСПИСАНИЕ, СХЕМЫ ЗАЛОВ
                        li
                            a(href="#") ОТЗЫВЫ
                        li
                            a(href="#") КАК НАС НАЙТИ
                        li
                            a(href="#") ФОТОГРАФИИ ЗРИТЕЛЕЙ
                        li
                            a(href="#") КОРПОРАТИВНЫЕ МЕРОПРИЯТИЯ
                        li
                            a(href="#") МЕДИА
                        li
                            a(href="#") СОТРУДНИЧЕСТВО И КАСТИНГИ
                        li
                            a(href="#") АРЕНДА ЗАЛА
                        li
                            a(href="#") БОЛЬШОЙ ЦИРКОВОЙ КАРНАВАЛ
                .header__icons
                    a(href="#")
                        img(src="./images/icon/vk.svg", alt="vk")
                    a(href="#")
                        img(src="./images/icon/instagram.svg", alt="instagram")
                    a(href="#")
                        img(src="./images/icon/facebook.svg", alt="facebook")
                    a(href="#")
                        img(src="./images/icon/youtube.svg", alt="youtube")
        .header__icons.small
            a(href="#")
                img(src="./images/icon/vk.svg", alt="vk")
            a(href="#")
                img(src="./images/icon/instagram.svg", alt="instagram")
            a(href="#")
                img(src="./images/icon/facebook.svg", alt="facebook")
            a(href="#")
                img(src="./images/icon/youtube.svg", alt="youtube")
        .header__bottom
            .wrapper
                a(href="./").logo
                    img(src="./images/icon/logo.png", alt="logo")
                    span ЦИРК ТАНЦУЮЩИХ ФОНТАНОВ
                a(href="https://55555club.ru/cirk-tancuyushhix-fontanov-akvamarin", target="_blank").tickets
                    img(src="./images/icon/icon-logo.png", alt="icon-logo")
                    span КУПИТЬ БИЛЕТЫ
    .feedback-text.wrapper
        h2 ОТЗЫВЫ
        .feedback-text__info
            p Уважаемые зрители! Мы публикуем абсолютно все отзывы, никак их не отбирая и не редактируя (за исключением редких случаев, когда содержание отзыва лишено смысла или нарушает общепринятые этические нормы).
        .feedback-text__form
            h4 Разместить отзыв
            form(action="#")
                .form-text__block
                    label Представьтесь, пожалуйста*:
                    input(type="text")
                .form-text__block
                    label Ваш e-mail:
                    input(type="text")
                .form-text__block
                    label Ваш телефон:
                    input(type="text")
                span Оставьте, пожалуйста, ваш адрес эл. почты и/или телефон в случае, если ваше сообщение требует ответа администрации. Также вы можете получать на эл. почту приглашения от Цирковой и театральной компании "Аквамарин" на новые программы. Все личные данные не публикуются.
                .form-text__block
                    label Ваша оценка:
                    .form-text__block_row
                        input(type="radio", name="rating")#rating-1
                        label(for="rating-1") Без оценки
                        input(type="radio", name="rating")#rating-2
                        label(for="rating-2") Отлично
                        input(type="radio", name="rating")#rating-3
                        label(for="rating-3") Хорошо
                        input(type="radio", name="rating")#rating-4
                        label(for="rating-4") Средне
                        input(type="radio", name="rating")#rating-5
                        label(for="rating-5") Плохо
                        input(type="radio", name="rating")#rating-6
                        label(for="rating-6") Ужасно
                .form-text__block
                    label Отзыв*:
                    textarea(name="text", cols="30", rows="10")   
                span Поля маркированные * обязательны для заполнения
                input(type="submit", value="ОТПРАВИТЬ")
    .feedback.wrapper
        .feedback__item
            p Текст отзыва текст отзыва текст отзыва текст отзыва текст отзыв Текст отзыва текст отзыва текст отзыва текст отзыва текст отзыв Текст отзыва текст отзыва текст отзыва текст отзыва текст отзыв
        .feedback__item
            p Текст отзыва текст отзыва текст отзыва текст отзыва текст отзыв
        .feedback__item
            p Текст отзыва текст отзыва текст отзыва текст отзыва текст отзыв
        .feedback__item
            p Текст отзыва текст отзыва текст отзыва текст отзыва текст отзыв
        .feedback__item
            p Текст отзыва текст отзыва текст отзыва текст отзыва текст отзыв
        .pages
            span &lt;
            span.pages-active 1
            span 2
            span ...
            span 10
            span &gt;
    footer.footer
        a(href="#0").button-up
            img(src="./images/icon/button-up.png", alt="button-up")
        .wrapper
            ul
                li
                    a(href="#") Главная
                li
                    a(href="#") Медиа
                li
                    a(href="#") Представления
                li
                    a(href="#") Сотрудничество и кастинги
                li
                    a(href="#") Расписание, схемы залов
                li
                    a(href="#") Аренда зала
                li
                    a(href="#") Корпоративные мероприятия
                li
                    a(href="#") Архив представлений
            p Цирк Танцующих Фонтанов "Аквамарин" 
                a(href="tel:+74957923072") +7 (495) 792-30-72 
                | (с 9:00 до 22:00)
            a(href="#") Зрительский клуб «55555»
            .footer__social
                a(href="#")
                    img(src="./images/icon/vk.svg", alt="vk")
                a(href="#")
                    img(src="./images/icon/instagram.svg", alt="instagram")
                a(href="#")
                    img(src="./images/icon/facebook.svg", alt="facebook")
                a(href="#")
                    img(src="./images/icon/youtube.svg", alt="youtube")