header.header
    .header__top.wrapper
        .header__logo
            a(href="./").logo
                img(src="./images/icon/logo.svg", alt="logo")
            span ОФИЦИАЛЬНЫЙ ДИЛЕР OHAUS И SARTORIUS
        .header__tel
            a(href="tel:+73833305691") 8 (383) 330-56-91
            a(href="tel:+79137163248") 8 (913) 716-32-48
    nav.menu
        .wrapper
            ul
                li
                    a(href="#") Главная
                li
                    a(href="#") О компании
                li
                    a(href="#") Продукция
                li
                    a(href="#") Документация
                li
                    a(href="#") Новости и акции
                li
                    a(href="#") Статьи
                li
                    a(href="#") Вопрос-ответ
                li
                    a(href="#") Контакты
.content.wrapper
    aside
        .catalog-menu
            ul
                li
                    span
                        a(href="#") Новинки
                li.catalog-menu__submenu
                    span 
                        a(href="#") Весы
                    ul
                        li.catalog-menu__hasmenu.active
                            a(href="#") Лабораторные весы
                            ul
                                li
                                    a(href="#") Аналитические весы
                                li
                                    a(href="#") Прецизионные весы
                                li
                                    a(href="#") Механические весы
                                li
                                    a(href="#") Портативные весы
                                li
                                    a(href="#") Микровесы
                                li
                                    a(href="#") Большегрузные микровесы
                        li
                            a(href="#") Микровесы
                        li
                            a(href="#") Промышленные весы
                        li
                            a(href="#") Торговые весы
                        li
                            a(href="#") Анализаторы влагосодержания (влажности)
                li
                    span 
                        a(href="#") Системы лабораторной очистки воды
                li
                    span 
                        a(href="#") Системы лабораторной фильртрации и чистки
                li
                    span 
                        a(href="#") Центрифуги
                li
                    span 
                        a(href="#") Электрохимические приборы
                li
                    span 
                        a(href="#") Микроскопы
                li
                    span 
                        a(href="#") Хроматографы и масс-спектрометры
                li
                    span 
                        a(href="#") Лабораторное оборудование
        .news
            h2 Статьи
            .news__item
                a(href="#") Заголовок статьи отражает смысл текста
            .news__item
                a(href="#") Заголовок статьи отражает смысл текста
            .news__item
                a(href="#") Заголовок статьи отражает смысл текста
    main
        .catalog
            .beadcrumbs
                a(href="./") Главная
                span
                a(href="#") Продукция
                span
                a(href="#").active Лабораторные весы
            .catalog-box
                h1 Лабораторные весы
                .catalog__wrap
                    a(href="#").catalog__card
                        .catalog__img
                            img(src="./images/decor/catalog-1.jpg", alt="catalog")
                        .catalog__title
                            span Аналитические весы
                    a(href="#").catalog__card
                        .catalog__img
                            img(src="./images/decor/catalog-2.jpg", alt="catalog")
                        .catalog__title
                            span Прецизионные весы
                    a(href="#").catalog__card
                        .catalog__img
                            img(src="./images/decor/catalog-3.jpg", alt="catalog")
                        .catalog__title
                            span Механические весы
                    a(href="#").catalog__card
                        .catalog__img
                            img(src="./images/decor/catalog-4.jpg", alt="catalog")
                        .catalog__title
                            span Портативные весы
                    a(href="#").catalog__card
                        .catalog__img
                            img(src="./images/decor/catalog-5.jpg", alt="catalog")
                        .catalog__title
                            span Микровесы
                    a(href="#").catalog__card
                        .catalog__img
                            img(src="./images/decor/catalog-6.jpg", alt="catalog")
                        .catalog__title
                            span Большегрузные микровесы
footer.footer
    .footer__top.wrapper
        a(href="./").logo
            img(src="./images/icon/footer-logo.svg", alt="logo")
        .footer__adress
            img(src="./images/icon/map.svg", alt="adress")
            p 630090,  г. Новосибирск, пр-т Ак. Лаврентьева, 9, оф. 304
        .footer__mail
            img(src="./images/icon/mail.svg", alt="mail")
            a(href="mailto:spectromtetriya@gmail.com") spectromtetriya@gmail.com
        .footer__tel
            img(src="./images/icon/phone.svg", alt="phone")
            .footer__tel_wrap
                a(href="tel:+73833305691") 8 (383) 330-56-91
                a(href="tel:+79137163248") 8 (913) 716-32-48
    .footer__bottom.wrapper
        .footer__text
            p © 2020 spectrometry-nsk.ru
                a(href="#") Политика конфиденциальности
            p 
                a(href="mailto:spectromtetriya@gmail.com") spectromtetriya@gmail.com 
                | — электронная почта для обращений с вопросом о своих персональных данных, в том числе об их удалении.
        .footer__links
            .footer__links_wrap
                a(href="#") Создание сайтов
                a(href="#") Продвижение сайтов
            a(href="#") 
                img(src="./images/icon/kontur.svg", alt="kontur")
