header.header
    .header__top.wrapper
        .header__logo
            a(href="./").logo
                img(src="./images/icon/logo.svg", alt="logo")
            span ОФИЦИАЛЬНЫЙ ДИЛЕР OHAUS И SARTORIUS
        .header__tel
            a(href="tel:+73833305691") 8 (383) 330-56-91
            a(href="tel:+79137163248") 8 (913) 716-32-48
    nav.menu
        .wrapper
            ul
                li
                    a(href="#") Главная
                li
                    a(href="#") О компании
                li
                    a(href="#") Продукция
                li
                    a(href="#") Документация
                li
                    a(href="#") Новости и акции
                li
                    a(href="#") Статьи
                li
                    a(href="#") Вопрос-ответ
                li
                    a(href="#") Контакты
.content.wrapper
    aside
        .catalog-menu
            ul
                li
                    span
                        a(href="#") Новинки
                li.catalog-menu__submenu
                    span 
                        a(href="#") Весы
                    ul
                        li.catalog-menu__hasmenu
                            a(href="#") Лабораторные весы
                            ul
                                li
                                    a(href="#") Аналитические весы
                                li
                                    a(href="#") Прецизионные весы
                                li
                                    a(href="#") Механические весы
                                li
                                    a(href="#") Портативные весы
                                li
                                    a(href="#") Микровесы
                                li
                                    a(href="#") Большегрузные микровесы
                        li
                            a(href="#") Микровесы
                        li
                            a(href="#") Промышленные весы
                        li
                            a(href="#") Торговые весы
                        li
                            a(href="#") Анализаторы влагосодержания (влажности)
                li
                    span 
                        a(href="#") Системы лабораторной очистки воды
                li
                    span 
                        a(href="#") Системы лабораторной фильртрации и чистки
                li
                    span 
                        a(href="#") Центрифуги
                li
                    span 
                        a(href="#") Электрохимические приборы
                li
                    span 
                        a(href="#") Микроскопы
                li
                    span 
                        a(href="#") Хроматографы и масс-спектрометры
                li
                    span 
                        a(href="#") Лабораторное оборудование
        .news
            h2 Статьи
            .news__item
                a(href="#") Заголовок статьи отражает смысл текста
            .news__item
                a(href="#") Заголовок статьи отражает смысл текста
            .news__item
                a(href="#") Заголовок статьи отражает смысл текста
    main
        .banner
            .banner__text
                h2 ПОСТАВЛЯЕМ НАУЧНОЕ И ЛАБОРАТОРНОЕ ОБОРУДОВАНИЕ, РАСХОДНЫЕ МАТЕРИАЛЫ
                p Осуществляем поиск оборудования и предлагаем Вам самое оптимальное решение
                a(href="#") Подробнее
        .new
            h2 Новинки
            .new__wrap
                a(href="#").card
                    span.new Новинка
                    .card__img
                        img(src="./images/decor/card-1.jpg", alt="item")
                    .card__text
                        h3 Анализатор влагосодержания MB120
                        p Наш флагманский анализатор влажности MB120 ускоряет и упрощает выполнение как типовых, так и самых сложных измерений, повышая эффективность всего процесса.
                        span Подробнее
                            <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 1L19 5L15 1ZM19 5L15 9L19 5ZM19 5L1 5L19 5Z" fill="#34D1BF"/>
                                <path d="M19 5L1 5M15 1L19 5L15 1ZM19 5L15 9L19 5Z" stroke="#2F67D7" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                a(href="#").card
                    span.new Новинка
                    .card__img
                        img(src="./images/decor/card-2.jpg", alt="item")
                    .card__text
                        h3 Полумикровесы Explorer
                        p Полумикровесы серии Explorer разработаны на основе технологии, обеспечивающей высокую точность результатов взвешивания
                        span Подробнее
                            <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 1L19 5L15 1ZM19 5L15 9L19 5ZM19 5L1 5L19 5Z" fill="#34D1BF"/>
                                <path d="M19 5L1 5M15 1L19 5L15 1ZM19 5L15 9L19 5Z" stroke="#2F67D7" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                a(href="#").card
                    span.new Новинка
                    .card__img
                        img(src="./images/decor/card-3.jpg", alt="item")
                    .card__text
                        h3 Микроцентрифуга Frontier
                        p Центрифуги Frontier Micro предназначены для выполнения целого спектра важных лабораторных задач на высоких скоростях, включая подготовку образцов ДНК/РНК
                        span Подробнее
                            <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 1L19 5L15 1ZM19 5L15 9L19 5ZM19 5L1 5L19 5Z" fill="#34D1BF"/>
                                <path d="M19 5L1 5M15 1L19 5L15 1ZM19 5L15 9L19 5Z" stroke="#2F67D7" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
        .about
            h2 О компании
            .about__text
                p Компания «ООО СПЕКТРОМЕТРИЯ» была создана в 1999 году. На момент создания основным направлением деятельности компании было снабжение организаций современным научным оборудованием. Деятельностью, связанной с поставками оборудования, компания занимается уже более 20 лет и достигла в этой области значительных результатов.
                p Со временем сфера наших интересов также существенно расширилась. Сейчас в группе компаний есть предприятия, занимающиеся разработкой собственных уникальных технологических решений и производством оборудования для их реализации. Большое внимание мы уделяем организации совместной работы с научными коллективами и промышленными предприятиями электронной и космической отраслей для решения широкого круга задач наших российских и иностранных партнёров. Сибирский регион имеет значительный научно-технический потенциал, и мы работаем над тем, чтобы этот потенциал использовался и увеличивался.
                h4 В своей деятельности мы считаем наиболее важными следующие моменты:
                ul
                    li Юридическая чистота и безопасность.
                    li Объективность и достоверность.
                    li Открытость и компетентность.
        .news-box
            h2 Новости
                a(href="#") Все новости
            .news-box__wrap
                a(href="#").news-box__card
                    .news-box__img
                        img(src="./images/decor/news-1.jpg", alt="news")
                    .news-box__text
                        span 2 ноября 2020
                        h3 Источник новых возможностей: система ГХ-МСД Agilent 5977B
                        .news-box__arrow
                a(href="#").news-box__card
                    .news-box__img
                        img(src="./images/decor/news-2.jpg", alt="news")
                    .news-box__text
                        span 21 октября 2020
                        h3 Обзор гомогенизатора Stegler DG-360
                        .news-box__arrow
                a(href="#").news-box__card
                    .news-box__img
                        img(src="./images/decor/news-3.jpg", alt="news")
                    .news-box__text
                        span 15 августа 2020
                        h3 Встреча дистрибьюторов и партнеров компании
                        .news-box__arrow
        .partners
            h2 Производители
            .partners__wrap
                .partners__item
                    img(src="./images/decor/partners-1.jpg", alt="partners")
                .partners__item
                    img(src="./images/decor/partners-2.jpg", alt="partners")
                .partners__item
                    img(src="./images/decor/partners-1.jpg", alt="partners")
                .partners__item
                    img(src="./images/decor/partners-2.jpg", alt="partners")
                .partners__item
                    img(src="./images/decor/partners-1.jpg", alt="partners")
                .partners__item
                    img(src="./images/decor/partners-2.jpg", alt="partners")
footer.footer
    .footer__top.wrapper
        a(href="./").logo
            img(src="./images/icon/footer-logo.svg", alt="logo")
        .footer__adress
            img(src="./images/icon/map.svg", alt="adress")
            p 630090,  г. Новосибирск, пр-т Ак. Лаврентьева, 9, оф. 304
        .footer__mail
            img(src="./images/icon/mail.svg", alt="mail")
            a(href="mailto:spectromtetriya@gmail.com") spectromtetriya@gmail.com
        .footer__tel
            img(src="./images/icon/phone.svg", alt="phone")
            .footer__tel_wrap
                a(href="tel:+73833305691") 8 (383) 330-56-91
                a(href="tel:+79137163248") 8 (913) 716-32-48
    .footer__bottom.wrapper
        .footer__text
            p © 2020 spectrometry-nsk.ru
                a(href="#") Политика конфиденциальности
            p 
                a(href="mailto:spectromtetriya@gmail.com") spectromtetriya@gmail.com 
                | — электронная почта для обращений с вопросом о своих персональных данных, в том числе об их удалении.
        .footer__links
            .footer__links_wrap
                a(href="#") Создание сайтов
                a(href="#") Продвижение сайтов
            a(href="#") 
                img(src="./images/icon/kontur.svg", alt="kontur")
