header.header
    .header__top.wrapper
        .header__logo
            a(href="./").logo
                img(src="./images/icon/logo.svg", alt="logo")
            span ОФИЦИАЛЬНЫЙ ДИЛЕР OHAUS И SARTORIUS
        .header__tel
            a(href="tel:+73833305691") 8 (383) 330-56-91
            a(href="tel:+79137163248") 8 (913) 716-32-48
    nav.menu
        .wrapper
            ul
                li
                    a(href="#") Главная
                li
                    a(href="#") О компании
                li
                    a(href="#") Продукция
                li
                    a(href="#") Документация
                li
                    a(href="#") Новости и акции
                li
                    a(href="#") Статьи
                li
                    a(href="#") Вопрос-ответ
                li
                    a(href="#") Контакты
.content.wrapper
    aside
        .catalog-menu
            ul
                li
                    span
                        a(href="#") Новинки
                li.catalog-menu__submenu.active
                    span 
                        a(href="#") Весы
                    ul
                        ul
                        li.catalog-menu__hasmenu.active
                            a(href="#") Лабораторные весы
                            ul
                                li.active
                                    a(href="#") Аналитические весы
                                li
                                    a(href="#") Прецизионные весы
                                li
                                    a(href="#") Механические весы
                                li
                                    a(href="#") Портативные весы
                                li
                                    a(href="#") Микровесы
                                li
                                    a(href="#") Большегрузные микровесы
                        li
                            a(href="#") Микровесы
                        li
                            a(href="#") Промышленные весы
                        li
                            a(href="#") Торговые весы
                        li
                            a(href="#") Анализаторы влагосодержания (влажности)
                li
                    span 
                        a(href="#") Системы лабораторной очистки воды
                li
                    span 
                        a(href="#") Системы лабораторной фильртрации и чистки
                li
                    span 
                        a(href="#") Центрифуги
                li
                    span 
                        a(href="#") Электрохимические приборы
                li
                    span 
                        a(href="#") Микроскопы
                li
                    span 
                        a(href="#") Хроматографы и масс-спектрометры
                li
                    span 
                        a(href="#") Лабораторное оборудование
        .news
            h2 Статьи
            .news__item
                a(href="#") Заголовок статьи отражает смысл текста
            .news__item
                a(href="#") Заголовок статьи отражает смысл текста
            .news__item
                a(href="#") Заголовок статьи отражает смысл текста
    main
        .product
            .beadcrumbs
                a(href="./") Главная
                span
                a(href="#") Продукция
                span
                a(href="#") Лабораторные весы
                span
                a(href="#") Аналитические весы
                span
                a(href="#").active Полумикровесы Explorer
            .product__wrap
                .product__info
                    .product__slider
                        .product__big
                            .product__slide
                                img(src="./images/decor/product.jpg", alt="product")
                            .product__slide
                                img(src="./images/decor/product.jpg", alt="product")
                            .product__slide
                                img(src="./images/decor/product.jpg", alt="product")
                            .product__slide
                                img(src="./images/decor/product.jpg", alt="product")
                            .product__slide
                                img(src="./images/decor/product.jpg", alt="product")
                        .product__small
                            .product__slide
                                img(src="./images/decor/product.jpg", alt="product")
                            .product__slide
                                img(src="./images/decor/product.jpg", alt="product")
                            .product__slide
                                img(src="./images/decor/product.jpg", alt="product")
                            .product__slide
                                img(src="./images/decor/product.jpg", alt="product")
                            .product__slide
                                img(src="./images/decor/product.jpg", alt="product")
                    .product__title
                        h2 Полумикровесы Explorer
                        p Там, где при выполнении лабораторных и исследовательских задач требуется точность в одну стотысячную, нет места ошибкам. Полумикровесы серии Explorer разработаны на основе технологии, обеспечивающей высокую точность результатов взвешивания.
                        a(href="#") Запросить стоимость
                .product__text
                    h3 Полумикровесы Explorer описание
                    h4 Режимы применения
                    p Взвешивание, процентное взвешивание, подсчет количества предметов, контрольное взвешивание, динамическое взвешивание и взвешивание животных, наполнение, суммирование, рецептуры, дифференциальное взвешивание, определение плотности, фиксирование максимальных значений, калибровка пипеток, статистический контроль качества
                    h4 Дисплей
                    p Полноцветный графический VGA-дисплей с диагональю 5,7 дюйма, 4-проводной резистивный сенсорный дисплей. Буквенная и цифровая клавиатуры, ускоряющие ввод данных GLP, GMP и прочей информации
                    h4 Связь
                    p Коммуникационные порты USB (2 шт.) и RS232, а также четвертый порт — RS232 или Ethernet (опция). Протоколирование результатов GLP/ GMP с часами в режиме реального времени. Функция передачи данных.
                    h4 Конструкция
                    p Полностью автоматическая встроенная система калибровки AutoCal™, короткое время стабилизации, четыре бесконтактных ИК датчика, встроенный ионизатор у моделей с автоматическими дверцами, до 14 языков интерфейса, модели, отвечающие требованиям OIML, функция сохранения результатов на USB-носитель, блокировка доступа к меню, противоугонное устройство, встроенный крюк для взвешивания под весами, съемная платформа весов из нержавеющей стали, индикатор стабильности показаний, перегруза и недогруза, автоматический режим ожидания.
                    .product__video
                        <iframe width="471" height="271" src="https://www.youtube.com/embed/WMRzFgA54Z4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    h3 Полумикровесы Explorer особенности
                    p Предназначены для высокоточного взвешивания с дискретностью до 0,01 мг и НПВ до 220 г. Встроенная система калибровки AutoCal™ способствует поддержанию высокой точности результатов.
                    p Весы оснащены цветным сенсорным дисплеем, обеспечивающим удобство работы. Бесконтактные датчики, автоматические дверки и ионизатор (на некоторых моделях) повышают достоверность результатов.
                    p Программное обеспечение SmarText™ 2.0, интуитивно понятная навигация на базе пиктограмм, библиотека данных на 99 элементов, шесть профилей пользователя, функция контроля минимальной массы с наглядной индикацией — все это делает процесс взвешивания простым и эффективным.
                .product__document
                    h3 Документы
                    a(href="#") 
                        <svg width="10" height="13" viewBox="0 0 10 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.13417 2.94659L6.2917 0.104108C6.22535 0.0377348 6.13479 0 6.04041 0H1.06596C0.478188 0 0 0.478188 0 1.06596V11.0623C0 11.65 0.478188 12.1282 1.06596 12.1282H8.17233C8.76009 12.1282 9.23828 11.65 9.23828 11.0623V3.19787C9.23828 3.10098 9.19761 3.01 9.13417 2.94659ZM6.39573 1.21313L8.02515 2.84255H6.75105C6.55513 2.84255 6.39573 2.68315 6.39573 2.48723V1.21313ZM8.17233 11.4176H1.06596C0.870033 11.4176 0.710637 11.2582 0.710637 11.0623V1.06596C0.710637 0.870033 0.870033 0.710637 1.06596 0.710637H5.6851V2.48723C5.6851 3.075 6.16328 3.55319 6.75105 3.55319H8.52764V11.0623C8.52764 11.2582 8.36825 11.4176 8.17233 11.4176Z" fill="#34D1BF"/>
                            <path d="M6.75098 5.02173H2.48715C2.29092 5.02173 2.13184 5.18082 2.13184 5.37705C2.13184 5.57328 2.29092 5.73237 2.48715 5.73237H6.75098C6.94721 5.73237 7.1063 5.57328 7.1063 5.37705C7.1063 5.18082 6.94721 5.02173 6.75098 5.02173Z" fill="#34D1BF"/>
                            <path d="M6.75098 6.44312H2.48715C2.29092 6.44312 2.13184 6.6022 2.13184 6.79843C2.13184 6.99466 2.29092 7.15375 2.48715 7.15375H6.75098C6.94721 7.15375 7.1063 6.99466 7.1063 6.79843C7.1063 6.6022 6.94721 6.44312 6.75098 6.44312Z" fill="#34D1BF"/>
                            <path d="M6.75098 7.8645H2.48715C2.29092 7.8645 2.13184 8.02359 2.13184 8.21982C2.13184 8.41605 2.29092 8.57514 2.48715 8.57514H6.75098C6.94721 8.57514 7.1063 8.41605 7.1063 8.21982C7.1063 8.02359 6.94721 7.8645 6.75098 7.8645Z" fill="#34D1BF"/>
                            <path d="M5.3297 9.28564H2.48715C2.29092 9.28564 2.13184 9.44473 2.13184 9.64096C2.13184 9.83719 2.29092 9.99628 2.48715 9.99628H5.3297C5.52593 9.99628 5.68502 9.83719 5.68502 9.64096C5.68502 9.44473 5.52593 9.28564 5.3297 9.28564Z" fill="#34D1BF"/>
                        </svg>
                        | Брошюра набор для калибровки пипеток_(RU)
                    a(href="#") 
                        <svg width="10" height="13" viewBox="0 0 10 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.13417 2.94659L6.2917 0.104108C6.22535 0.0377348 6.13479 0 6.04041 0H1.06596C0.478188 0 0 0.478188 0 1.06596V11.0623C0 11.65 0.478188 12.1282 1.06596 12.1282H8.17233C8.76009 12.1282 9.23828 11.65 9.23828 11.0623V3.19787C9.23828 3.10098 9.19761 3.01 9.13417 2.94659ZM6.39573 1.21313L8.02515 2.84255H6.75105C6.55513 2.84255 6.39573 2.68315 6.39573 2.48723V1.21313ZM8.17233 11.4176H1.06596C0.870033 11.4176 0.710637 11.2582 0.710637 11.0623V1.06596C0.710637 0.870033 0.870033 0.710637 1.06596 0.710637H5.6851V2.48723C5.6851 3.075 6.16328 3.55319 6.75105 3.55319H8.52764V11.0623C8.52764 11.2582 8.36825 11.4176 8.17233 11.4176Z" fill="#34D1BF"/>
                            <path d="M6.75098 5.02173H2.48715C2.29092 5.02173 2.13184 5.18082 2.13184 5.37705C2.13184 5.57328 2.29092 5.73237 2.48715 5.73237H6.75098C6.94721 5.73237 7.1063 5.57328 7.1063 5.37705C7.1063 5.18082 6.94721 5.02173 6.75098 5.02173Z" fill="#34D1BF"/>
                            <path d="M6.75098 6.44312H2.48715C2.29092 6.44312 2.13184 6.6022 2.13184 6.79843C2.13184 6.99466 2.29092 7.15375 2.48715 7.15375H6.75098C6.94721 7.15375 7.1063 6.99466 7.1063 6.79843C7.1063 6.6022 6.94721 6.44312 6.75098 6.44312Z" fill="#34D1BF"/>
                            <path d="M6.75098 7.8645H2.48715C2.29092 7.8645 2.13184 8.02359 2.13184 8.21982C2.13184 8.41605 2.29092 8.57514 2.48715 8.57514H6.75098C6.94721 8.57514 7.1063 8.41605 7.1063 8.21982C7.1063 8.02359 6.94721 7.8645 6.75098 7.8645Z" fill="#34D1BF"/>
                            <path d="M5.3297 9.28564H2.48715C2.29092 9.28564 2.13184 9.44473 2.13184 9.64096C2.13184 9.83719 2.29092 9.99628 2.48715 9.99628H5.3297C5.52593 9.99628 5.68502 9.83719 5.68502 9.64096C5.68502 9.44473 5.52593 9.28564 5.3297 9.28564Z" fill="#34D1BF"/>
                        </svg>
                        | Брошюра_Взвешивайте правильно_(RU)
                    a(href="#") 
                        <svg width="10" height="13" viewBox="0 0 10 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.13417 2.94659L6.2917 0.104108C6.22535 0.0377348 6.13479 0 6.04041 0H1.06596C0.478188 0 0 0.478188 0 1.06596V11.0623C0 11.65 0.478188 12.1282 1.06596 12.1282H8.17233C8.76009 12.1282 9.23828 11.65 9.23828 11.0623V3.19787C9.23828 3.10098 9.19761 3.01 9.13417 2.94659ZM6.39573 1.21313L8.02515 2.84255H6.75105C6.55513 2.84255 6.39573 2.68315 6.39573 2.48723V1.21313ZM8.17233 11.4176H1.06596C0.870033 11.4176 0.710637 11.2582 0.710637 11.0623V1.06596C0.710637 0.870033 0.870033 0.710637 1.06596 0.710637H5.6851V2.48723C5.6851 3.075 6.16328 3.55319 6.75105 3.55319H8.52764V11.0623C8.52764 11.2582 8.36825 11.4176 8.17233 11.4176Z" fill="#34D1BF"/>
                            <path d="M6.75098 5.02173H2.48715C2.29092 5.02173 2.13184 5.18082 2.13184 5.37705C2.13184 5.57328 2.29092 5.73237 2.48715 5.73237H6.75098C6.94721 5.73237 7.1063 5.57328 7.1063 5.37705C7.1063 5.18082 6.94721 5.02173 6.75098 5.02173Z" fill="#34D1BF"/>
                            <path d="M6.75098 6.44312H2.48715C2.29092 6.44312 2.13184 6.6022 2.13184 6.79843C2.13184 6.99466 2.29092 7.15375 2.48715 7.15375H6.75098C6.94721 7.15375 7.1063 6.99466 7.1063 6.79843C7.1063 6.6022 6.94721 6.44312 6.75098 6.44312Z" fill="#34D1BF"/>
                            <path d="M6.75098 7.8645H2.48715C2.29092 7.8645 2.13184 8.02359 2.13184 8.21982C2.13184 8.41605 2.29092 8.57514 2.48715 8.57514H6.75098C6.94721 8.57514 7.1063 8.41605 7.1063 8.21982C7.1063 8.02359 6.94721 7.8645 6.75098 7.8645Z" fill="#34D1BF"/>
                            <path d="M5.3297 9.28564H2.48715C2.29092 9.28564 2.13184 9.44473 2.13184 9.64096C2.13184 9.83719 2.29092 9.99628 2.48715 9.99628H5.3297C5.52593 9.99628 5.68502 9.83719 5.68502 9.64096C5.68502 9.44473 5.52593 9.28564 5.3297 9.28564Z" fill="#34D1BF"/>
                        </svg>
                        | Брошюра_Взвешивайте правильно_(RU)
footer.footer
    .footer__top.wrapper
        a(href="./").logo
            img(src="./images/icon/footer-logo.svg", alt="logo")
        .footer__adress
            img(src="./images/icon/map.svg", alt="adress")
            p 630090,  г. Новосибирск, пр-т Ак. Лаврентьева, 9, оф. 304
        .footer__mail
            img(src="./images/icon/mail.svg", alt="mail")
            a(href="mailto:spectromtetriya@gmail.com") spectromtetriya@gmail.com
        .footer__tel
            img(src="./images/icon/phone.svg", alt="phone")
            .footer__tel_wrap
                a(href="tel:+73833305691") 8 (383) 330-56-91
                a(href="tel:+79137163248") 8 (913) 716-32-48
    .footer__bottom.wrapper
        .footer__text
            p © 2020 spectrometry-nsk.ru
                a(href="#") Политика конфиденциальности
            p 
                a(href="mailto:spectromtetriya@gmail.com") spectromtetriya@gmail.com 
                | — электронная почта для обращений с вопросом о своих персональных данных, в том числе об их удалении.
        .footer__links
            .footer__links_wrap
                a(href="#") Создание сайтов
                a(href="#") Продвижение сайтов
            a(href="#") 
                img(src="./images/icon/kontur.svg", alt="kontur")
